/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
body {
    margin: 0;
}
html, body {
    height: 100%;
}
* {
    font-family: 'Roboto' !important;
}
a {
    text-decoration: none;
    color: white;
}
a:hover, a:active {
    color: lightgray;
}

/* Generic Mat CSS */
mat-form-field {
    width: 300px;
}
mat-sidenav-container, mat-sidenav, mat-sidenav-content {
    height: 100%;
}
mat-sidenav {
    width: 250px;
}
/* User Detail Section CSS */
.user_detail_con .heading {
    width: 20%;
    display: inline-block;
    font-weight: bold;
}
.user_detail_con .space {
    width: 10%;
    font-weight: bold;
    display: inline-block;
}
.user_detail_con .value {
    width: 60%;
    display: inline-block;
}
/* Training Section CSS */